<a href="https://colab.research.google.com/github/Strix9289/How-to-use-library/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandasの基本操作

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
h = "http"
p = "dog"
h+p

'httpdog'

## データサイエンス100本ノック様のデータをお借りしています。

https://github.com/The-Japan-DataScientist-Society/100knocks-preprocess

In [48]:
import urllib
from io import StringIO
url = "https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/"

def read_csv(url):
    print(url)
    res = urllib.request.urlopen(url)
    res = res.read().decode("utf-8")
    df = pd.read_csv(StringIO(res))
    return df
df_customer = read_csv(url+"customer.csv")
df_category = read_csv(url+"category.csv")
df_geocode = read_csv(url+"geocode.csv")
df_product = read_csv(url+"product.csv")
df_receipt = read_csv(url+"receipt.csv")
df_store = read_csv(url+"store.csv")

https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv
https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/category.csv
https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/geocode.csv

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv
https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv
https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/store.csv

## 行・列の操作

### Series型とDataFrame型
Pandasでは、一列のことをSeries型。二列以上のことをDataFrame型という。
列名を指定する際は、ブラケットの中に列名を渡す。
複数の列を指定する場合は、ブラケットの中にリストで列名を渡す。

In [49]:
df_customer["customer_id"].head()

0    CS021313000114
1    CS037613000071
2    CS031415000172
3    CS028811000001
4    CS001215000145
Name: customer_id, dtype: object

In [52]:
df_customer[["customer_id","birth_day","age"]].head()

      customer_id   birth_day  age
0  CS021313000114  1981-04-29   37
1  CS037613000071  1952-04-01   66
2  CS031415000172  1976-10-04   42
3  CS028811000001  1933-03-27   86
4  CS001215000145  1995-03-29   24

### columnsを表示

In [53]:
df_customer.columns

Index(['customer_id', 'customer_name', 'gender_cd', 'gender', 'birth_day',
       'age', 'postal_cd', 'address', 'application_store_cd',
       'application_date', 'status_cd'],
      dtype='object')

### iloc[int],(loc[str])で特定の行を指定

In [54]:
df_customer.iloc[5]

customer_id                 CS020401000016
customer_name                        宮下 達士
gender_cd                                0
gender                                  男性
birth_day                       1974-09-15
age                                     44
postal_cd                         174-0065
address                 東京都板橋区若木**********
application_store_cd                S13020
application_date                  20150225
status_cd                     0-00000000-0
Name: 5, dtype: object

### 特定の行・列を落とす

df.drop('カラム名', axis=1)

axis=0の時、行方向

axis=1の時、列方向

In [55]:
df_customer.drop("age", axis=1).head(2)

      customer_id customer_name  ...  application_date     status_cd
0  CS021313000114        大野 あや子  ...          20150905  0-00000000-0
1  CS037613000071         六角 雅彦  ...          20150414  0-00000000-0

[2 rows x 10 columns]

### queryで条件を満たした列だけを取得

queryはdf型の後に続けて書きます。条件はクオーテーションで囲い文字列として与えます。条件の中に数列（文字列として扱われる数字）があった場合は、シングルクォーテーションで囲います。

また、**describe()**で全統計量を確認できます。

In [57]:
df_customer.query("age>=70").head()

       customer_id customer_name  ...  application_date     status_cd
3   CS028811000001        堀井 かおり  ...          20160115  0-00000000-0
8   CS015804000004         松谷 米蔵  ...          20150607  0-00000000-0
17  CS040702000012         根本 六郎  ...          20150112  0-00000000-0
35  CS003802000009         大森 照生  ...          20150216  0-00000000-0
37  CS002715000148        前田 菜々美  ...          20160514  0-00000000-0

[5 rows x 11 columns]

## あいまい検索

### startswith, endswith, contains

列名などを指定する際、部分一致しているものを取得したい場合があります。
その際に必要なのが
- "列名.str.startswith()"
- "列名.str.endswith()"
- "列名.str.contains()"

それぞれすべて上記のqueryの条件として与える。その際に、条件の文字列の後にカンマを加えて、engine="python"　と付け加える必要がある。

In [59]:
df_customer.query("customer_id.str.startswith('CS')", engine="python").head()

      customer_id customer_name  ...  application_date     status_cd
0  CS021313000114        大野 あや子  ...          20150905  0-00000000-0
1  CS037613000071         六角 雅彦  ...          20150414  0-00000000-0
2  CS031415000172       宇多田 貴美子  ...          20150529  D-20100325-C
3  CS028811000001        堀井 かおり  ...          20160115  0-00000000-0
4  CS001215000145         田崎 美紀  ...          20170605  6-20090929-2

[5 rows x 11 columns]

In [61]:
df_customer.query("customer_id.str.endswith('15')", engine="python").head()

        customer_id customer_name  ...  application_date     status_cd
60   CS007412000215          三好 愛  ...          20150510  0-00000000-0
99   CS019504000015         早美 俊介  ...          20150825  0-00000000-0
538  CS011502000015         三村 鉄洋  ...          20150514  0-00000000-0
604  CS002515000415         織田 景子  ...          20160519  6-20100529-8
619  CS043415000015         神戸 幸子  ...          20170327  B-20101016-D

[5 rows x 11 columns]

In [63]:
df_customer.query("customer_name.str.contains('野')", engine="python").head()

       customer_id customer_name  ...  application_date     status_cd
0   CS021313000114        大野 あや子  ...          20150905  0-00000000-0
6   CS015414000103         奥野 陽子  ...          20150722  B-20100609-B
18  CS046615000013          河野 花  ...          20181207  0-00000000-0
29  CS028413000087          浅野 薫  ...          20150528  0-00000000-0
32  CS031415000106        宇野 由美子  ...          20150201  F-20100511-E

[5 rows x 11 columns]

### 正規表現

- ^：先頭から始まる
- $：文字列の末尾
- .：任意の一文字
- *：0回以上の繰り返し

正規表現(https://qiita.com/luohao0404/items/7135b2b96f9b0b196bf3)

In [64]:
#名前の先頭ががA~Fのいずれかのものを取得
df_customer.query("status_cd.str.contains('^[A:F]')", engine="python").head()

       customer_id customer_name  ...  application_date     status_cd
21  CS035415000029         寺沢 真希  ...          20141220  F-20101029-F
32  CS031415000106        宇野 由美子  ...          20150201  F-20100511-E
40  CS033605000005         猪股 雄太  ...          20150425  F-20100917-E
44  CS033415000229        板垣 菜々美  ...          20150712  F-20100326-E
53  CS008415000145         黒谷 麻緒  ...          20150829  F-20100622-F

[5 rows x 11 columns]

In [65]:
#チケットの末尾が2~5のいずれかのものを取得
df_customer.query("status_cd.str.contains('[2-5]$')", engine="python").head()

       customer_id customer_name  ...  application_date     status_cd
4   CS001215000145         田崎 美紀  ...          20170605  6-20090929-2
9   CS033513000180          安斎 遥  ...          20150728  6-20080506-5
14  CS040412000191         川井 郁恵  ...          20151101  1-20091025-4
22  CS015315000033        福士 璃奈子  ...          20141024  4-20080219-3
28  CS040314000027       鶴田 きみまろ  ...          20150122  2-20080426-4

[5 rows x 11 columns]

In [66]:
#チケットが3~5で始まり、7~9で終わるもの
df_customer.query("status_cd.str.contains('^[A:F].*[7-9]$')", engine="python").head()

         customer_id customer_name  ...  application_date     status_cd
68    CS022513000105        島村 貴美子  ...          20150320  A-20091115-7
71    CS001515000096         水野 陽子  ...          20150614  A-20100724-7
659   CS008315000012        須藤 沙知絵  ...          20151226  A-20090320-8
1211  CS019411000025        浜口 真奈美  ...          20150407  A-20100411-7
1318  CS005513000083         豊島 そら  ...          20150214  A-20100111-9

[5 rows x 11 columns]

## ソート

sort_value("列名", ascending=True)

Trueで昇順、Falseで降順

In [67]:
df_customer.sort_values("birth_day", ascending=True).head()

          customer_id customer_name  ...  application_date     status_cd
18817  CS003813000014        村山 菜々美  ...          20160214  0-00000000-0
12328  CS026813000004         吉村 朝陽  ...          20150723  0-00000000-0
15682  CS018811000003         熊沢 美里  ...          20150403  0-00000000-0
15302  CS027803000004         内村 拓郎  ...          20151227  0-00000000-0
1681   CS013801000003         天野 拓郎  ...          20160120  0-00000000-0

[5 rows x 11 columns]

## 集計と計算

### groupby
指定したカラムごとに集計

インデックスが崩れるのでその後にrest_index()が必要

In [69]:
#groupby
df_receipt.groupby("store_cd")["amount"].sum().head()

store_cd
S12007    638761
S12013    787513
S12014    725167
S12029    794741
S12030    684402
Name: amount, dtype: int64

### aggを使って複数のカラムをまとめて集計
agg({カラム名:計算方法1, カラム名:計算方法2})で指定した集計方法で表を生成

In [73]:
df_receipt.groupby("store_cd").agg({"amount":"max", "quantity":"sum"}).head()

          amount  quantity
store_cd
S12007      5000      2099
S12013      5000      2425
S12014      5000      2358
S12029      5280      2555
S12030      5280      2403

### applyで複雑処理を行う

mode, var, std やその他関数を使用する場合は、<br> apply(lambda x: f(x))

In [74]:
#apply
df_receipt.groupby("store_cd")["amount"].apply(lambda x: x.mode()).head()

store_cd
S12007    0    148
S12013    0    148
S12014    0    100
S12029    0    100
S12030    0    148
Name: amount, dtype: int64

### パーセンタイル

quantile([0, 0.25, 0.5, 0.75, 1])

別解としてnp.percentile(df_receipt['amount'], q=[25, 50, 75,100])

In [75]:
df_receipt["amount"].quantile([0,0.24,0.5,0.75,1])

0.00       10.0
0.24      102.0
0.50      170.0
0.75      288.0
1.00    10925.0
Name: amount, dtype: float64

## 結合
- **concat**は2つの表を単純にくっつける
- **merge**は2つの表を共通のキーで合わせてくっつける
- left_on：leftのDataFrameのkeyにするカラム
- right_on：rightのDataFrameのkeyにするカラム
- left_index：leftのKeyをindexにする場合Trueを指定
- right_index：rightのKeyをindexにする場合Trueを指定

### concat
pd.concat([df_1, df_2], axis=0)

axis=0の時、列方向

axis=1の時、行方向

In [77]:
#concatは単純にくっつけるだけなので、customer_idなどが二つある
pd.concat([df_customer, df_receipt], axis=1).head()

      customer_id customer_name  gender_cd  ...  product_cd quantity  amount
0  CS021313000114        大野 あや子        1.0  ...  P070305012        1     158
1  CS037613000071         六角 雅彦        9.0  ...  P070701017        1      81
2  CS031415000172       宇多田 貴美子        1.0  ...  P060101005        1     170
3  CS028811000001        堀井 かおり        1.0  ...  P050301001        1      25
4  CS001215000145         田崎 美紀        1.0  ...  P060102007        1      90

[5 rows x 20 columns]

### merge
merge(df_1, df_2, how="結合法", on="キーワード")

how = inner, outer, left, right

In [79]:
pd.merge(df_customer, df_receipt, how="inner", on="customer_id").head()

      customer_id customer_name  gender_cd  ...  product_cd quantity  amount
0  CS031415000172       宇多田 貴美子          1  ...  P060103001        1     100
1  CS031415000172       宇多田 貴美子          1  ...  P090203004        1     320
2  CS031415000172       宇多田 貴美子          1  ...  P071401025        1    2400
3  CS031415000172       宇多田 貴美子          1  ...  P071203007        1     448
4  CS031415000172       宇多田 貴美子          1  ...  P070805011        1     258

[5 rows x 19 columns]

## 日付型変換

pd.to_datetimeをは日付型をYYYYMMDD形式に変換

In [80]:
pd.to_datetime(df_customer["birth_day"]).dt.strftime("%Y/%m/%d").head()

0    1981/04/29
1    1952/04/01
2    1976/10/04
3    1933/03/27
4    1995/03/29
Name: birth_day, dtype: object